li {
  margin: .5em 0;
}
ol > li {
  margin-bottom: 1.5em;
}
pre, code {
  background-color: wheat;
  color: darkblue;
  font-family: Consolas, Menlo, "Lucida Console", monospace;
}
pre {
  margin-right: 1em;
  padding: .5em;
}
code {
  padding: 0 .2em;
}