<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!--partial views-->
    <% include partials/nav.ejs %>
    we out here
  </body>

</html>