<!DOCTYPE html>
<html>
  <head>
      <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!--partial views-->
    <% include partials/nav.ejs %>
    <h1>Welcome to the profile of id: <%= id %></h1>
    <h2>Age<%= data.age %> </h2>
    <h2>Job<%= data.job %> </h2> 
  </body>

</html>