$borderFontColor:#cccccc;
$backgroundColor: #343338;

.nextButton{
  background-color: $backgroundColor;
  color: $borderFontColor;
  min-width: 50px;
  padding: .7em 1em;
  border-radius: .3em;
  border: 3px solid $borderFontColor;
  font-family: Arial;
  font-size: 16px;
  outline: none;
  &:hover{
    cursor: pointer;
    background-color:white;
    color:black;
    border: 3px solid white;
  }
}

.buttonContainer{
  width: 200px;
  height: 100px;
  background-color:$backgroundColor;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#sideArrow{
  display: flex;
  height: 25px;
  width: 25px;
  color: white;
}